//**************Wide Screens********************
@include mediaXlg {
  .projects {
    grid-template-columns: (4, 1fr);
  }
}

//***************Desktops & Laptops******************
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

//*****************TABLETS*********************
@include mediaMd {
  .btn-up {
    visibility: hidden;
  }
  #top-nav {
  }
  .fine {
    visibility: hidden;
  }
  #orders-main {
    .grade {
      visibility: hidden;
    }
    img {
      width: 450px;
      height: 450px;
      padding: 10px 0 !important;
    }
    h1 {
      padding-left: 60% !important;
    }

    .timings {
      padding-left: 60%;
    } //restaurant-desc
    p {
      padding-left: 60%;
    }
    .firs-taste {
      margin-left: 60% !important;
    }
  }

  #chefs-home-sec {
    align-items: center;
    text-align: center;
    h1 {
      font-size: 25px;
      display: block;
      right: 20px;
      position: relative;
      margin-left: -50%;
    }
  }
  #chefs {
    img {
      max-width: 75%;
    }
  }

  main {
    align-items: center;
    text-align: center;

    .h1-big-text {
      line-height: 1;
      font-size: 30px;
      margin-bottom: 1rem;
    }
  }
  .ul-nav-menu,
  .menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .ul-nav-menu {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  }
  .portrait {
    max-height: 150px;
    max-width: 150px;
  }

  //about-page
  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }
  #about .h1-big-text {
    font-size: 40px;
  }

  //Projects
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  #my-img {
    max-width: 180px;
    max-height: 180px;
  }

  #howitworks {
    .how-item {
      margin-bottom: 5%;
    }
    .arrow {
      visibility: hidden;
    }
  }

  #businesses-body {
    #businesses-first-section,
    .right-pic {
      .more-info {
        padding: 8% 0 8% 18%;
      }
      img {
        width: 600px;
      }
    }
  }

  #news-letter {
    .input-group {
      margin: 8% 0 8% 10%;
    }
  }
}

//*************************Mobiles************************
@include mediaSm {
  #top-na {
    .finedine {
      padding-left: 40px !important;
      text-align: center !important;
    }
  }
  .restaurant-form .btn {
    padding: 8px 30% !important;
    text-align: center;
  }
  .btn-up {
    visibility: hidden;
  }

  #footer {
    text-align: left;
    h6 {
      font-size: 15px;
      padding: 7px;
    }
  }

  #fineh1 {
    padding-bottom: 10%;
    font-size: 29px;
  }

  #orders-main {
    .grade {
      visibility: hidden;
    }
    img {
      width: 250px;
      height: 250px;
    }
    h1 {
      padding-left: 0 !important;
    }

    .timings {
      padding-left: 0;
    } //restaurant-desc
    p {
      padding-left: 0;
    }
    .firs-taste {
      margin-left: 0 !important;
    }
  }

  #chefs-home-sec {
    align-items: center;
    text-align: center;
    h1 {
      font-size: 29px;
      display: block;
      right: 0;
      position: relative;
      margin-left: 0;
    }
  }
  #howitworks {
    margin: 0 auto;
    .how-item {
      display: block;
      margin: 0 auto 0 -5%;
    }
    .arrow {
      visibility: hidden;
    }
  }
  #restaurant-body #restaurant-form {
  }
  #start-btn {
    padding: 15px 28px;
    margin-right: 20%;
  }
  #about-body {
    #news-letter {
      .input-group {
        margin: 8% 0 8% 5%;
        width: 300px;
      }
      input {
        font: 10px;
      }
    }
  }

  #businesses-body {
    #businesses-first-section,
    .right-pic {
      justify-content: center;
      .more-info {
        padding: 15% 10% 15% 15%;
      }
      img {
        width: 310px;
        height: 370px;
      }
    }
  }

  #businesses-body .section-2 {
    p {
      width: 100%;
    }
    #mob-para {
      width: 299px;
    }
  }
}
